<nav class="navbar navbar-expand-sm fixed-top" style="background-color: #301934;">
    <div class="container justify-content">
        <a class="navbar-brand" href="#">
            <img src="assets/V.png" width="30" height="30">
            &nbsp; &nbsp;
            <h1>VALORANT</h1>
        </a>

        <div class="justify-content: space-between">
            <button class="btn text-light" onclick="window.location.href='https://orders.sheetz.com/auth/login'">Follow
                Forum </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-light rounded"
                onclick="window.location.href='https://orders.sheetz.com/order/information'">Profile</button>
            &nbsp;
            <button class="btn btn-outline-light"
                onclick="window.location.href='https://orders.sheetz.com/auth/login?destination=/order/favorites'">Home</button>
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="justify-content: space-between">
            <img src="assets/riot.png" width="300" height="100">

        </div>

    </div>

</nav>



<nav class="navbar" style="background-color: #F62681;"><h1><br><br></h1>
<h1><br><br></h1>
<h1><br><br></h1>
    <div class="container justify-content justify-content-center">
        <div class="card" style="width: 50rem;">
            <img src="assets/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                    Some quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's content</p>
            </div>
        </div>
        <h1><br><br></h1><h1><br><br></h1>
        <div class="card" style="width: 50rem;">
            <img src="assets/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.Some quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's content</p>
            </div>
        </div>
        <h1><br><br></h1><h1><br><br></h1>
        <div class="card" style="width: 50rem;">
            <img src="assets/card3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.Some quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's content</p>
            </div>
        </div>
        <h1><br><br></h1><h1><br><br></h1>
        <div class="card" style="width: 50rem;">
            <img src="assets/card4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.Some quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's contentSome quick example text to build on the card title and make up the bulk of the
                    card's content</p>
            </div>
        </div>
    </div>
<h1><br><br></h1><h1><br><br></h1><h1><br><br></h1><h1><br><br></h1><h1><br><br></h1><h1><br><br></h1></nav>







<nav class="navbar navbar fixed-bottom container-fluid navbar-dark " style="background-color: #301934;">
    <div class="container justify-content-center">

        <img src="assets/valname.png" width="220" height="54">
        <p class="positio-bottom fs-6 text-light"> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;© VALORANT by riot
            games.&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</p>

        <button class="btn " onclick="window.location.href='https://www.facebook.com/sheetz'"> <img
                src="assets/facebook.png" width="40" height="40"></button>
        <button class="btn " onclick="window.location.href='https://www.instagram.com/sheetz/'"> <img
                src="assets/insta.png" width="40" height="40"> </button>
        <button class="btn " onclick="window.location.href='https://twitter.com/sheetz'"><img src="assets/twitter.png"
                width="40" height="40"></button>
        <button class="btn " onclick="window.location.href='https://www.youtube.com/user/sheetzcorp'"><img
                src="assets/yt.png" width="40" height="40"></button>


    </div>
</nav>